body {
  background-color: #fdfdfd;
  margin: 0px auto;
  font-family: 'Roboto Condensed', sans-serif;
}
header {
    font-family: 'Roboto', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 6.5em;
    width: 100%;
    box-shadow: 0px 0px 10px #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
header img {
    margin-top: 100%;
    width: 8em;
    height: auto;
}
#content {
  padding-top: 10em;
  margin: 0px auto;
  max-width: 40em;
  color: rgb(141, 225, 228);
  font-size: 1.2em;
}
h3 {
  color: rgb(134, 195, 196);
}
h4 {
  color: rgb(151, 214, 215);
}
#content img {
  width: 50%;
  height: auto;
}
#content a {
  text-decoration: none;
  color: rgb(154, 233, 236);
}
#content a:hover {
  border-bottom: solid 2px;
}
