* {
  text-decoration: none;
  font-family: arial;
}

body {
  margin: 0px auto;
  max-width: 65em;
  background-color: #f1f1f1;
}
#grande {
  position: relative;
  margin-top: 90px;
  margin-left: 70px;
}
#grande hr {
  position: relative;
  padding: 20px;
  background-color: white;
  width: 250px;
  height: 305px;
  margin-left: 658.1px;
  margin-top: -349px;
  border: 0px;
}
#grande h1 {
  position: relative;
  width: 250px;
  height: 305px;
  text-align: left;
  font-size: 20px;
  margin-left: 685.1px;
  margin-top: -280px;
  font-family: font/droid sans;

}
#grande p {
  position: relative;
  width: 250px;
  height: 305px;
  text-align: left;
  font-size: 20px;
  margin-left: 685.1px;
  margin-top: -230px;
  font-size: 15px;
  font-family: font/droid sans;
}
#myButton {
  position: relative;
  margin-left: 755.1px;
  margin-top: -250px;
}
.myButton {

	background-color:#00a8ba;
	border:1px solid #00a8ba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:11px 60px;
	text-decoration:none;
}
#text h1 {
  position: relative;
  margin-left: 355.1px;
  margin-top: 120px;
  color: grey;
}
#text p {
  position: relative;
  margin-left: 300px;
  color: grey;
}
#mini img{
  padding-left: 72px;
  margin-right: -72px;
}
#minit1 {
  margin-left: 160.1px;
  margin-top: -220px;
  font-size: 10px;
  font-family: font/droid sans;
  color: white;
}
#minit2 {
  margin-left: 460.1px;
  margin-top: -36px;
  font-size: 10px;
  font-family: font/droid sans;
  color: white;
}

#minit3 {
  margin-left: 810.1px;
  margin-top: -36px;
  font-size: 10px;
  font-family: font/droid sans;
  color: white;
}
