$color_black: #555;
$font_size: 1em;
$font_size_header: 1.5em;
$marginhead: 2em;
body {
    font-family: 'Droid Sans', sans-serif;
    margin: 0 auto;
    text-decoration: none;
    text-decoration-line: none;
}
header {
    font-size: 1.5em;
    font-family: 'Prompt', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 5.5em;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;
    z-index: 9999;
}
header #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
header #header {
    text-align: center;
}
article {
    color: $color_black;
    margin: 0 auto;
    max-width: 60em;
    background-color: rgb(221, 221, 221);
    font-size: $font_size;
    margin-bottom: $marginhead;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.align {
  text-align: center;
}
.decal {
    margin-top: 10%;
}
.content {
    max-width: 50em;
    margin-left: 5em;
    margin-bottom: 10%;
}
#article2 {
    color: $color_black;
    margin: 0 auto;
    max-width: 60em;
    background-color: rgb(221,221,221);
    font-size: $font_size;
    margin-bottom: $marginhead;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
article h1:first-child {
    text-align: center;
    margin-bottom: 8%;
}
article h1:nth-of-type(2) {
    text-align: center;
    margin-top: 8%;
}
#decalbot {
    margin-bottom: 5%;
}
footer {
    text-decoration: none;
    text-decoration-line: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 110px;
    max-width: 100%;
    background-color: #FFF;
    margin-top: $marginhead;
    box-shadow: 0 0 20px #cdcdcd;
    border-top: 1px solid #cdcdcd;
    box-sizing: border-box;
}
footer p h5 {
    text-align: center;
    font-size: 0.8em;
    max-width: 70em;
}
footer p:nth-child(1) {
    margin-right: 16%;
}
footer p:nth-child(2) {
    margin-right: 16%;
}
ul {
    list-style: none;
}
